<div>
    <h1>Ingreso de Productos</h1>
    <form id="agregarProducto">
        <label for="productTitle">Titulo</label>
        <input type="text" id="productTitle" name="productTitle">
        <label for="productDescription">Descripción</label>
        <input type="text" id="productDescription" name="productDescription">
        <label for="productPrice">Precio</label>
        <input type="number" name="productPrice" id="productPrice">
        <label for="productThumbnail">Thumbnail</label>
        <input type="text" name="productThumbnail" id="productThumbnail">
        <label for="productCode">Code</label>
        <input type="text" id="productCode" name="productCode">
        <label for="productStock">Stock</label>
        <input type="number" name="productStock" id="productStock">
        <button type="submit">Crear Producto</button>
    </form>
</div>
<div>
    <h1>Productos Tiempo Real</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Thumbnail</th>
            <th>Code</th>
            <th>Stock</th>
        </thead>
        <tbody id="productTable">
        </tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>

<script>

    const socket = io();

    document.getElementById('agregarProducto').addEventListener('submit', async (event) => {
        event.preventDefault();

        const productTitle = document.getElementById('productTitle').value;
        const productDescription = document.getElementById('productDescription').value;
        const productPrice = document.getElementById('productPrice').value;
        const productThumbnail = document.getElementById('productThumbnail').value;
        const productCode = document.getElementById('productCode').value;
        const productStock = document.getElementById('productStock').value;

        socket.emit('createProduct', {
            title: productTitle,
            description: productDescription,
            price: productPrice,
            thumbnail: productThumbnail,
            code: productCode,
            stock: productStock
        });
    });

    socket.on("startProducts", products => {
        const productTable = document.getElementById('productTable');
        productTable.innerHTML = '';

        products.forEach(product => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${product.id}</td>
                <td>${product.title}</td>
                <td>${product.description}</td>
                <td>${product.price}</td>
                <td>${product.thumbnail}</td>
                <td>${product.code}</td>
                <td>${product.stock}</td>
                <td><button type="button" class="deleteButton" data-product-id="${product.id}">Eliminar</button></td>`;
            productTable.appendChild(tr);
        });

        const deleteButtons = document.querySelectorAll('.deleteButton');
        deleteButtons.forEach(deleteButton => {
            deleteButton.addEventListener('click', () => {
                const productId = parseInt(deleteButton.dataset.productId);
                console.log("Botón eliminado:", productId);
                 socket.emit('deleteProductId', productId)
            });
        });
    });

</script>